**/bin/
**/obj/
publish/
publish-win64/
*.zip
!tools-packages/
!tools-packages/**
!tools-packages/**/*.zip
!tools-packages/**/*.7z
**/.vs/
**/*.user
appsettings.local.json
Thumbs.db
Desktop.ini
.git/
agent-tools/
